[Unit]
Description=Publish NWS Images

[Service]
Type=oneshot
User=www-data
Group=www-data

Environment="SRC_DIR=/media/holding/nws/nws-publish"
Environment="DEST_DIR=/var/www/html/nws"

ExecStart=/home/carran/working/nws-radar-looper/publish-images/publish-images.sh

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target